# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\samh9\Documents\repos\advanced-java-assessments-and-code-along-SamH1999-eng\Classwork\ClassRoster\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
